<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About Us</h2>
        <p>saber saber saber saber saber saber saber sabersaber saber saber sabersaber saber saber saber</p>
        <p>saber saber saber saber saber saber saber sabersaber saber saber sabersaber saber saber saber</p>
        <p>saber saber saber saber saber saber saber sabersaber saber saber sabersaber saber saber saber</p>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>